<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="d-flex justify-content-between text-bg-secondary p-3">
        <h1 class="text-bg-secondary">Coding Dojo Wall</h1>
        <div class="d-flex">
            <h3 class="me-3">Welcome, {{ user.first_name }}</h3>
            <form action="/home_page/logout">
                <button class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
    
    <div class="h-50 d-flex flex-col align-items-center justify-content-evenly mt-5 text-bg-secondary">
        <div class="w-25">
            <h3>Your messages ({{ user.first_name }})</h3>
            {% for message in messages %}
                {% if message.user_from_id != session['id'] and message.user_to_id == session['id'] %}
                    <div class="d-flex">
                        <div>
                            <p>{{ message.user_from_id }}</p>
                            <p class="text-bg-white border rounded text-wrap" style="width: 200px;">{{message.information}}</p>
                        </div>
                        <a href="/messages/{{ message.id }}/delete" class="btn btn-danger h-25 m-3 ms-5">Delete</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="w-25">
            <h3>Send Messages</h3>
            <p>You have sent number messages</p>
            {% for user in users %}
                {% if user.id != session['id'] %}
                    <form action="/messages/send" method = 'POST' class="mb-2 form d-flex flex-col justify-content-evenly align-items-center">
                        <label class="me-2" for="information">{{ user.first_name }}</label>
                        <input name="information" type="text" class="form mt-2">
                        <input type="hidden" name="user_from_id" value="{{ session['id'] }}">
                        <input type="hidden" name="user_to_id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body> 
</html>