<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello flask</title>
</head>
<body>
    <div style="display:flex; justify-content: center;">
        <div>
            <h1 style="text-align: center;">Welcome!</h1>
            <div style="display:flex; justify-content: space-around; align-items: center; height: 2000px; width: 2000px;">
                {% for x in range(0,num) %}
                <div style="height: 300px; width: 300px; border: solid;"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>